*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */
header{
    height: 100px;
    background-color: #4ea0ff;
    background-image: url(../img/pattern.png);
    background-size: contain;
}

header img{
    width: 200px;
    padding-top: 40px;
}