*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */
/* sfondo header */
header{
    height: 100px;
    background-color: #4ea0ff;
    background-image: url(../img/pattern.png);
    background-size: contain;
}
/* logo header */
header img{
    width: 200px;
    padding-top: 40px;
    padding-left: 20px;
}

/* MAIN  */
.container {
    width: 98%;
    margin: auto;
}

main h1{
    font-weight: 700;
    font-size: 40px;

}

#bluespan {
    color: #4ea0ff;
}

.firma {
    font-size: 20px;
    font-weight: 500;
    color: grey;
}

.data{
    margin-bottom: 20px;
    color: grey;
}

.paragrafo{
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.highlight{
    background-color: yellow;
}

ul{
    font-size: 20px;
    padding-left: 20px;
}

/* tabella */
table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 18px;
}

thead{
    background-color: #20a9e5;
    color: white;
}

tbody tr{
    height: 60px;
}

th{
    text-align: left;
}

td{
    width: 50px;
}
.dispari{
    background-color: #b1e5f2;
}

